* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: EXO;
}

/*navbar*/

.navbar {
  position: fixed;
  top: 20px;
  left: 0;
  width: 83%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  z-index: 1000;
  padding: 11px 0;
  transform: translate(10%);
}

.navbar .container {
  width: 97%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: 800;
}

.logo strong {
  color: #ff6900;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-family: exo;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff6900;
}

.subscribe-btn {
  background: #ffd15b;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 25px;
  font-family: exo;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s;
}

.subscribe-btn:hover {
  transform: translate(3px, 3px);
}

/*HERO SECTION */


.hero::before {
  content: "";
  position: absolute;
  background: #FEDB7C;
  transform: rotate(45deg);
  z-index: 0;
  width: 100px;
  height: 100px;
  top: 190px;
  right: 80px;
}

.hero::after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 130px;
  height: 130px;
  top: 40px;
  left: 50px;
  transform: rotate(13deg);
  background-color: #E5D777;
}

.hero-content {
  position: relative;
  z-index: 1;
}


.hero {
  background-color: #fff085;
  border: 2px solid black;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.hero-content {
  display: flex;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}

.hero-left {
  width: 50%;
  margin-top: 80px;
}

.address {
  display: inline-block;
  background: #000;
  box-shadow: 3px 3px black;
  text-transform: uppercase;
  color: white;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 14px;
  transform: rotate(-3deg);
  margin-bottom: 30px;
}

.hero-left h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 90px;
  margin: 0;
}

.shadow {
  text-shadow: 3px 3px black;
}

.black-add {
  color: #000000;
}

.red-add {
  color: #e7000b;
}

.blue-add {
  color: #155dfc;
}

.desc {
  border: 2px solid #000;
  background: #fff;
  padding: 20px 15px;
  width: 95%;
  box-shadow: 3px 3px #000;
  margin: 30px 0;
  font-size: 24px;
  font-weight: 500;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn svg {
  height: 20px;
  width: 20px;
}

.btn {
  border: 4px solid #000;
  padding: 17px 35px;
  font-size: 20px;
  font-weight: 700;
  font-family: exo;
  cursor: pointer;
  box-shadow: 5px 5px #000;
  transition: all 0.2s;
}

.black-btn {
  background: #000;
  color: #fff;
}

.white-btn {
  background: #fff;
}

.btn:hover {
  transform: translate(2px, 2px);
  box-shadow: 0 0 black;
}

/* HERO RIGHT*/

.hero-right {
  flex: 1;
  text-align: right;
  width: 50%;
}

.image-wrapper {
  width: 95%;
  height: 350px;
  border: 5px solid #000;
  box-shadow: 5px 5px #000;
  transform: rotate(2deg);
  margin: 100px 0 0 50px;
  background-image: url("../Images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.3s;
}

.image-wrapper:hover {
  transform: translate(-2px, -2px) rotate(2deg);
}

.FEATURED {
  position: absolute;
  top: -20px;
  right: -12px;
  background: #fb2c36;
  color: white;
  transform: rotate(10deg);
  border: 2px solid black;
  font-weight: 700;
  font-size: 16px;
  padding: 7px 15px;
  box-shadow: 3px 3px black;
}

/*LATEST ARTICLES*/

.article {
  border: 2px solid black;
  margin: 0;
  padding: 40px 0 80px 0;
}

.articles-section {
  width: 80%;
  margin: auto;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 200px;
  margin-bottom: 50px;
}

.section-header h2 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  line-height: 1;
}

.fresh {
  background: black;
  color: white;
  padding: 8px 14px;
  font-weight: bold;
  transform: rotate(2deg);
  box-shadow: 3px 3px black;
}

.main-layout {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-top: 50px;
}
.left-side {
  width: 100%;
  align-items: flex-start;
}
/*left side*/

.box-wrapper {
  box-shadow: 5px 5px 0px black;
  transition: transform 0.3s ease;
  background-color: #000;
  margin-bottom: 25px;
}

.article-card {
  background: white;
  border: 4px solid black;
  display: flex;
  gap: 20px;
  padding: 25px;
  width: 100%;
  transition: all 0.3s;
}

.article-card:hover {
  transform: translate(-2px, -2px);
}

.article-left img {
  height: 120px;
  width: 150px;
  display: block;
  float: left;
  margin-right: 25px;
  border: 2px solid #000000;
}

.article-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  left: -20px;
}

.labels {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.label {
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  color: black;
}

.label.new {
  background: #fb2c36;
  color: white;
  transform: rotate(10deg);
  border: 2px solid black;
  position: relative;
  left: -65px;
  top: -10px;
}

.label.tech {
  background: #ffdf20;
  border: 2px solid black;
  position: relative;
  box-shadow: 3px 3px black;
  left: -55px;
  top: -3px;
  transform: rotate(-1deg);
}

.article-right h3 {
  font-size: 24px;
  margin: 5px 0;
  font-weight: 700;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.article-right p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}

.article-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 49px;
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.article-meta svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  position: relative;
  top: 2px;
  color: #000;
}

.article-meta .red {
  color: #e7000b;
}

.article-meta .red svg {
  color: #e7000b;
}

.article-card:hover h3 {
  color: #e7000b;
}

.article-right h3 .blue-text {
  font-size: 24px;
  margin: 5px 0;
  font-weight: 700;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.article-card:hover .blue-text {
  color: #2b7fff;
}

.label.hot {
  background: #2b7fff;
  color: white;
  transform: rotate(-10deg);
  border: 2px solid black;
  position: relative;
  left: -65px;
  top: -10px;
}

.label.design {
  background: #7bf1a8;
  border: 2px solid black;
  position: relative;
  box-shadow: 3px 3px black;
  left: -55px;
  top: -3px;
  transform: rotate(1deg);
}

.article-right h3 .purple-text {
  font-size: 24px;
  margin: 5px 0;
  font-weight: 700;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.article-card:hover .purple-text {
  color: #ad46ff;
}

.label.viral {
  background: #ad46ff;
  color: white;
  transform: rotate(50deg);
  border: 2px solid black;
  position: relative;
  left: -65px;
  top: -5px;
}

.label.culture {
  background: #fda5d5;
  border: 2px solid black;
  position: relative;
  box-shadow: 3px 3px black;
  left: -60px;
  top: -3px;
  transform: rotate(-2deg);
}

.left-side button {
  height: 60px;
  width: 320px;
  font-size: 20px;
  font-weight: 700;
  background-color: black;
  color: white;
  font-family: exo;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px black;
  transition: all 0.3s;
}

.left-side button:hover {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px 0px rgb(0, 0, 0);
}

button svg {
  height: 20px;
  width: 20px;
}
/* RIGHT SIDE */

.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: sticky;
  top: 40px;
  align-self: flex-start;
  height: fit-content;
}

.trending {
  background: white;
  border: 4px solid black;
  box-shadow: 5px 5px black;
  padding: 30px;
  width: 100%;
}

.trending,
.categories {
  width: 100%;
}

.trending h3 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 15px;
}

.trending ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.trending li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

.num {
  font-size: 24px;
  min-width: 35px;
  display: inline-block;
}

.one {
  color: #fb2c36;
  font-size: 36px;
  font-weight: 900;
}
.two {
  color: #2b7fff;
  font-size: 36px;
  font-weight: 900;
}
.three {
  color: #ad46ff;
  font-size: 36px;
  font-weight: 900;
}

.strong-red {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  transition: color 0.3s;
}

li:hover .strong-red {
  color: #fb2c36;
}

.strong-blue {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  transition: color 0.3s;
}

li:hover .strong-blue {
  color: #2b7fff;
}

.strong-purple {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  transition: color 0.3s;
}

li:hover .strong-purple {
  color: #ad46ff;
}

small {
  color: #6a6a6a;
  font-size: 14px;
  font-weight: 400px;
}

/*CATEGORIES SECTION*/
.categories {
  background: white;
  border: 4px solid black;
  box-shadow: 5px 5px black;
  padding: 30px;
  width: 100%;
}

.categories h3 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.categories li {
  height: 50px;
  align-items: center;
  display: flex;
}

.categories .cat {
  border: 2px solid black;
  font-weight: 700;
  padding: 10px 12px;
  font-size: 16px;
}

.categories .tech {
  background-color: #fef9c2;
  transition: all 0.2s;
}
.categories .tech:hover {
  box-shadow: 5px 5px black;
  transform: translate(-2px, -2px);
  background-color: #fdd544;
}

.categories .design {
  background-color: #dbfce7;
  transition: all 0.2s;
}

.categories .design:hover {
  box-shadow: 5px 5px black;
  transform: translate(-2px, -2px);
  background-color: #4cff8e;
}

.categories .culture {
  background-color: #fce7f3;
  transition: all 0.2s;
}

.categories .culture:hover {
  box-shadow: 5px 5px black;
  transform: translate(-2px, -2px);
  background-color: #ffbbe1;
}

.categories .opinion {
  background-color: #dbeafe;
  transition: all 0.2s;
}

.categories .opinion:hover {
  box-shadow: 5px 5px black;
  transform: translate(-2px, -2px);
  background-color: #80b1f2;
}

.categories .tutorials {
  background-color: #f3e8ff;
  transition: all 0.2s;
}

.categories .tutorials:hover {
  box-shadow: 5px 5px black;
  transform: translate(-2px, -2px);
  background-color: #cea1ff;
}
.clr {
  clear: both;
}

/*MEET THE AUTHORS*/

.authors {
  background-color: #ffd230;
  padding: 70px 0;
  text-align: center;
  position: relative;
  border: 2px solid black;
  overflow: hidden;
  z-index: 1;
}
/*style square*/

.authors::before {
  content: "";
  position: absolute;
  background: #e5bc2b;
  transform: rotate(45deg);
  z-index: -1;
  width: 150px;
  height: 150px;
  top: 40px;
  right: 40px;
}

.authors::after {
  content: "";
  position: absolute;
  background: #e5bc2b;
  z-index: 0;
  width: 120px;
  height: 120px;
  bottom: 30px;
  left: 50px;
  transform: rotate(-15deg);
  background-color: #fec030;
}

.authors-container {
  position: relative;
  z-index: 1;
}

.authors h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
  margin: 0;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  color: oklch(0.439 0 0);
  margin: 10px 0 15px;
}

.underline {
  width: 130px;
  height: 8px;
  background: black;
  margin: 0 auto 50px;
  transform: rotate(1deg);
}

.authors-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.author-card {
  border: 4px solid black;
  box-shadow: 6px 6px 0 black;
  width: 380px;
  height: 500px;
  padding: 40px 20px;
  position: relative;
  text-align: center;
  transition: all 0.3s;
}

.author-card:hover {
  transform: translate(-2px, -2px);
}

.yellow:hover h3 {
  color: #fb2c36;
}

.mint:hover h3 {
  color: #2b7fff;
}

.pink:hover h3 {
  color: #ad46ff;
}

.author-card img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border: 4px solid black;
  margin-bottom: 15px;
}

.tag {
  position: absolute;
  top: 25px;
  right: 25px;
  font-weight: 700;
  padding: 5px 10px;
  color: white;
  font-size: 12px;
  border: 2px solid black;
}

.blod {
  background: #fb2c36;
  transform: rotate(15deg);
}

.blue {
  background: #2b7fff;
  transform: rotate(-15deg);
}

.purple {
  background: #ad46ff;
  transform: rotate(45deg);
}

.yellow {
  background: #fef9c2;
}

.mint {
  background: #dbfce7;
}

.pink {
  background: #fbe6f2;
}

.author-card h3 {
  font-size: 30px;
  font-weight: 900;
  margin: 10px 0;
  transition: color 0.2s;
}

.author-card h4 {
  font-size: 16px;
  font-weight: 700;
  color: oklch(0.439 0 0);
  margin-bottom: 20px;
}

.author-card p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #222;
  margin-bottom: 20px;
  padding: 0 20px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social a {
  display: inline-block;
  background: black;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

.social a svg {
  width: 20px;
  height: 20px;
}

.social a:hover {
  transform: translate(-3px, -3px);
  box-shadow: 5px 5px 0 #000;
}

.social .twit:hover {
  background: #6092ff;
}

.social .link:hover {
  background: #2c6efa;
}

.social .insta:hover {
  background: #ff0c86;
}

/*JOIN THE REBELLION*/

.rebellion {
  background-color: #ffffff;
  text-align: center;
  padding: 80px 0;
  border: 2px solid black;
  margin: auto;
}

.main-title {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.subtitle {
  color: oklch(0.439 0 0);
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

.slash {
  width: 130px;
  height: 8px;
  background: black;
  margin: 20px auto 70px;
  transform: rotate(-1deg);
}

.rebellion-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

/*Left Column */

.left-box {
  background: #fff;
  padding: 30px 0;
  width: 47%;
}

.left-box h3 {
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  text-align: left;
  margin-bottom: 30px;
}

.text-box {
  border: 2px solid black;
  box-shadow: 3px 3px black;
  padding: 18px;
  margin-bottom: 45px;
  text-align: left;
  font-size: 19px;
  font-weight: 600;
  line-height: 32px;
}

.features {
  list-style: none;
  padding: 0;
  text-align: left;
}

.features li {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: white;
  border: 2px solid black;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.true {
  background: #fb2c36;
}

.star {
  background: #ad46ff;
}

.copilor {
  background: #2b7fff;
}

.pen {
  background: #00c951;
}

.click {
  font-size: 24px;
  font-weight: 700;
  font-family: exo;
  color: white;
  background-color: #000;
  height: 80px;
  width: 350px;
  border: 2px dotted rgb(150, 2, 2);
  box-shadow: 5px 5px black;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;
  transition: all 0.2s;
}

.click:hover {
  transform: translate(3px, 3px);
  box-shadow: 0 0 black;
}

.click svg {
  height: 23px;
  width: 23px;
  margin: 0 15px 0 0;
}

/*Right Column*/

.right-box {
  background: #fff;
  border: 4px solid black;
  box-shadow: 6px 6px 0 black;
  padding: 30px;
  width: 47%;
}

.right-box h3 {
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;
  text-align: left;
  margin-bottom: 30px;
}

.rose {
  border: 2px solid black;
  padding: 20px;
  background-color: #fef2f2;
  margin-bottom: 30px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
}

.blue-bg {
  border: 2px solid black;
  padding: 20px;
  background-color: #eff6ff;
  margin-bottom: 30px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
}

.move {
  border: 2px solid black;
  padding: 20px;
  background-color: #faf5ff;
  margin-bottom: 15px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
}

.author img {
  width: 42px;
  height: 45px;
  border: 2px solid black;
}

.author strong {
  font-size: 18px;
  font-weight: 700;
}

.author small {
  font-size: 14px;
  font-weight: 400;
  color: oklch(0.439 0 0);
}

/*footer*/

.footer {
  background-color: #000;
  color: #fff;
  padding: 75px 0;
}

.bottom {
  width: 80%;
  margin: auto;
}

/*Left Section*/

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 60px;
}

.footer-left {
  flex: 1 1 400px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.icon-box {
  background-color: #fff;
  color: #000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
}

.icon-box svg {
  width: 24px;
  height: 24px;
}

.footer-left h2 {
  font-size: 30px;
  font-weight: 900;
}

.footer-left p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 30px;
}

/*Center Section*/

.footer-center {
  flex: 1 1 150px;
}

.footer-center h3,
.footer-right h3 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 40px;
}

.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center li {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  padding: 7px 0;
  transition: color 0.3s;
}

.footer-center li:hover {
  color: #ffcb05;
}

/*Right Section*/

.footer-right {
  flex: 1 1 410px;
}

.footer-right p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}

.footer-right form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-right input {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  outline: none;
}

.footer-right input::placeholder {
  color: #ccc;
}

.footer-right input:focus {
  border: 1px solid #ffe167;
}

.footer-right button {
  background-color: #ffdf20;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  border-right: 4px solid #ccb219;
  border-bottom: 4px solid #ccb219;
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-right button:hover {
  background-color: #ffd230;
  transform: translate(4px, 4px);
}

.footer hr {
  border: none;
  border-top: 4px solid #ffffff;
  margin: 30px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom p {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.footer-links a {
  color: #fff;
  margin-left: 25px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffcb05;
}


/*responsive part*/


@media (max-width: 1200px) {
  .articles-section {
    width: 90%;
  }

  .section-header {
    gap: 100px;
  }

  .section-header h2 {
    font-size: 40px;
  }

  .article-right h3 {
    font-size: 22px;
  }

  .authors h2 {
    font-size: 40px;
  }

  .author-card {
    width: 320px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .main-layout {
    flex-direction: column;
  }

  .right-column {
    width: 100%;
    position: relative;
    top: 0;
  }

  .left-side {
    width: 100%;
  }

  .section-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .section-header h2 {
    font-size: 36px;
  }

  .article-right h3 {
    font-size: 20px;
  }

  .article-card {
    flex-direction: column;
    align-items: center;
  }

  .article-left img {
    width: 100%;
    height: auto;
    margin: 0 0 15px 0;
  }

  .article-right {
    left: 0;
  }

  .authors-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .author-card {
    width: 90%;
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .articles-section {
    width: 95%;
    padding: 0 10px;
  }

  .section-header h2 {
    font-size: 28px;
  }

  .fresh {
    font-size: 14px;
    padding: 5px 10px;
  }

  .article-right h3 {
    font-size: 18px;
  }

  .article-right p {
    font-size: 16px;
    line-height: 26px;
  }

  .article-meta {
    flex-direction: column;
    gap: 10px;
  }

  .left-side button {
    width: 100%;
    font-size: 18px;
  }

  .trending h3,
  .categories h3 {
    font-size: 24px;
  }

  .trending,
  .categories {
    padding: 20px;
  }

  .num {
    font-size: 28px;
  }

  .authors h2 {
    font-size: 32px;
  }

  .author-card {
    width: 90%;
  }

  .author-card h3 {
    font-size: 24px;
  }

  .author-card p {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .article-right h3 {
    font-size: 16px;
  }

  .article-right p {
    font-size: 14px;
  }

  .left-side button {
    height: 50px;
    font-size: 16px;
  }

  .categories .cat {
    font-size: 14px;
    padding: 8px 10px;
  }

  .authors h2 {
    font-size: 26px;
  }

  .author-card {
    width: 100%;
    padding: 25px 15px;
  }

  .author-card h3 {
    font-size: 20px;
  }

  .author-card p {
    font-size: 14px;
  }

  .social a {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1200px) {
  .rebellion-content {
    width: 90%;
    gap: 40px;
  }

  .main-title {
    font-size: 40px;
  }

  .left-box h3,
  .right-box h3 {
    font-size: 30px;
  }

  .click {
    width: 300px;
    font-size: 22px;
    height: 70px;
  }
}

@media (max-width: 991px) {
  .rebellion-content {
    flex-direction: column;
    align-items: center;
  }

  .left-box,
  .right-box {
    width: 100%;
  }

  .text-box {
    font-size: 17px;
    line-height: 28px;
  }

  .click {
    width: 100%;
  }

  .main-title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .rebellion {
    padding: 50px 20px;
  }

  .main-title {
    font-size: 32px;
  }

  .left-box h3,
  .right-box h3 {
    font-size: 26px;
  }

  .text-box {
    font-size: 16px;
    padding: 15px;
  }

  .click {
    height: 60px;
    font-size: 18px;
  }

  .features li {
    font-size: 15px;
    gap: 10px;
  }

  .icon {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 16px;
  }

  .text-box {
    font-size: 15px;
  }

  .click {
    font-size: 16px;
    width: 100%;
  }

  .right-box {
    padding: 20px;
  }

  .author img {
    width: 35px;
    height: 35px;
  }

  .author strong {
    font-size: 16px;
  }
}
/* ============================= */
/* NAVBAR BASE STYLE */
/* ============================= */

.navbar {
  position: fixed;
  top: 20px;
  left: 0;
  width: 83%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  z-index: 1000;
  padding: 11px 0;
  transform: translate(10%);
  transition: all 0.3s ease;
}

.navbar .container {
  width: 97%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: 800;
}

.logo strong {
  color: #ff6900;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-family: exo;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff6900;
}

.subscribe-btn {
  background: #ffd15b;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 25px;
  font-family: exo;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s;
}

.subscribe-btn:hover {
  transform: translate(3px, 3px);
}



@media (max-width: 900px) {

  .navbar {
    width: 95%;
    transform: none;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
  }

  nav ul {
    display: none; 
    flex-direction: column;
    background: white;
    border: 2px solid #000;
    position: absolute;
    top: 60px;
    right: 15px;
    width: 200px;
    padding: 10px;
  }

  nav ul.active {
    display: flex;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    border: 2px solid #000;
    padding: 5px 8px;
    border-radius: 8px;
    background: #fff;
  }

  .hero {
    flex-direction: column;
    height: auto;
    padding: 60px 20px;
    text-align: center;
  }

  .hero-content {
    flex-direction: column;
    width: 100%;
  }

  .hero-left {
    width: 100%;
    margin-top: 40px;
  }

  .hero-left h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .desc {
    width: 100%;
    font-size: 18px;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 80%;
    text-align: center;
  }

  .hero-right {
    width: 100%;
    margin-top: 40px;
    text-align: center;
  }

  
  .image-wrapper {
    margin: 0 auto;
    transform: none;
    width: 90%;
    height: 200px;
  }

}

